EditorTester/bin
EditorTester/obj
EquationEditor/bin/
EquationEditor.v11.suo
EquationEditor/obj/
TestResults/EquationEditor.TE.Tests.mdf
TestResults/EquationEditor.TE.Tests_log.ldf
TestResults/
TestResults/
packages/
Workbench/bin/Debug/
Workbench/obj/
Workbench.Lib/bin
Workbench.Lib/obj/
GridSplitter/bin
GridSplitter/obj/
Workbench.Lib/bin32/
Workbench.Lib/bin64/
Workbench/bin32/
Workbench/bin64/
PythonTester/bin/
PythonTester/Lib
PythonTester/obj/
Workbench.Lib/Lib
